<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="kr.co.beautifour.PlantsMapper">

    <select id="selectPlants" resultType= "kr.co.beautifour.domain.PlantsVO">
        select * from Plants
    </select>
    
    <select id="selectHerbs" resultType= "kr.co.beautifour.domain.HerbVO">
        select HrbId, HrbName, mng, caution, internal, external, fsImg_1, fsImg_2 from Herb LEFT OUTER join InternalC on Herb.inid=InternalC.inid LEFT OUTER join ExternalC on Herb.exid=ExternalC.exid INNER JOIN Plants ON Plants.pNum=Herb.pNum 
    </select>
    
    <select id="selectHerbsCountry" resultType= "kr.co.beautifour.domain.HerbContVO">
        select Herb.HrbId, cName From Country, Cont, Herb where Country.cId=Cont.Cid and Herb.HrbID= Cont.HrbID ORDER BY Herb.HrbID
    </select>
    

</mapper>

